{% extends 'base.html' %}
{% block title %} products{% endblock %}
{% block content %}

<div>
  <p> products data</P>
  <div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/add_product" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="p_name">

              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Buying Price</label>
                <input type="number" class="form-control" id="exampleInputPassword1" name="b_price">
              </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Selling Price</label>
                <input type="number" class="form-control" id="exampleInputPassword1" name="s_price">
              </div>
              
             <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add product</button>
          </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div>
    <table id="example" class="table table-striped">
      <thead>
        <tr>
          <th>product Id</th>
          <th> product Name</th>
          <th>buying price</th>
          <th>selling price</th>


        </tr>
      </thead>
      <tbody>
        {% for products in products_data%}
        <tr>
          <td>{{products[0]}}</td>
          <td>{{products[1]}}</td>
          <td>{{products[2]}}</td>
          <td>{{products[3]}}</td>

        </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}